@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply px-4 md:px-8 lg:px-16 xl:px-24;
  }
  
  .section-container {
    @apply section mx-auto ;
  }
}

