@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply px-4 tablet:px-8 desktop:px-16;
  }
  
  .section-container {
    @apply section mx-auto ;
  }
}

