@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .section {
    @apply px-4 tablet:px-8 desktop:px-16;
  }
  
  .section-container {
    @apply section mx-auto ;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #F47729;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d66520;
  }
}

