@tailwind base;
@tailwind components;
@tailwind utilities;

/* Sonner Toast Custom Styles */
[data-sonner-toast][data-type="success"] {
  background-color: #00804D !important;
  color: white !important;
  border-color: #00804D !important;
}

[data-sonner-toast][data-type="error"] {
  background-color: #EF4444 !important;
  color: white !important;
  border-color: #EF4444 !important;
}

[data-sonner-toast][data-type="info"] {
  background-color: #3B82F6 !important;
  color: white !important;
  border-color: #3B82F6 !important;
}

[data-sonner-toast][data-type="warning"] {
  background-color: #EAB308 !important;
  color: white !important;
  border-color: #EAB308 !important;
}

@layer base {
  html,
  body {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

@layer components {
  .section {
    @apply px-4 tablet:px-8 desktop:px-16;
  }
  
  .section-container {
    @apply section mx-auto ;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #F47729;
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #d66520;
  }
}
